.sobre-nos {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5rem;
    background-color: #000000c3;
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 10px;
    margin-top: 8%;
    margin-top: 200px;
    border: 2px solid rgba(255, 0, 255, 0.409);
    box-shadow: 0px 0px 10px 8px rgba(67, 1, 67, 0.786);
  }
  .titulo-sobre {
    display: block;
    font-size: 2.3rem;
  
    text-shadow: 0px 0px 15px rgba(255, 0, 255, 0.575);
  }
  .sobre-nos p {
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 300;
    text-align: justify;
    text-shadow: 0px 0px 10px rgba(255, 0, 255, 0.575);
  }
  